<div align='center'>
  <h1>New Event</h1>
</div>


<div class="container bs-docs-container">
  <div class="row">
	<div class="col-md-9" role="main">
	  <%= render 'form' %>

	  <br>
	  <%= link_to 'Back', events_path %>
	</div>
  </div>
</div>