<h1>Editing Interest</h1>

<div class="container bs-docs-container">
  <div class="row">
	<div class="col-md-9" role="main">
	  <%= render 'form' %>

	  <%= link_to 'Show', @interest %> |
	  <%= link_to 'Back', interests_path %>
	</div>
  </div>
</div>
